

body {
    text-align: center;
}

label {
    display: block;
}

.header {
    padding: 20px;
}

.unlogged {
    background-color: antiquewhite;
}

.logged {
    background-color:rgb(200, 237, 255);
}

.post {
    text-align: left;
}

.head {
    padding: 5px;
    background-color: gainsboro;
}

.post-entry {
    width: 40vw;
    height: 30vh;
}

.content {
    background-color: rgb(233,222,240);
    padding: 10px;
}

.table {
    width: 70vw;
    margin: auto;
}

form {
    padding: 50px;
    margin: auto;
}