{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Main Dashboard</h1>

    <div class="table">
        
        {% for post in posts %}
            <h5 class='post head'>
                By {{ post.author }} on {{ post.date ? post.date|date('d/m/y h:i:s') : '' }}
            </h5>
            <p class='post content'>
                {{ post.content }}
            </p>
            <div>
                
                <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                <br>
                <br>
            </div>
            
        {% else %}
            <div>no posts found</div>
        {% endfor %}
    </div>

{% endblock %}
